.word-form__input-titles-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.word-form__input-title {
  font-size: 22px;
  text-align: center;
  width: 184px;
  margin: 0 15px;
  padding: 0 7px;
}

.word-form__input-title--small {
  width: 70px;
}

.word-form__input-title--tiny {
  width: 19px;
  padding: 0;
  margin: 0;
}

.word-form__inputs {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.word-form__row-number {
  width: 25px;
}

.word-form__input {
  margin: 5px 15px;
  border: 2px solid var(--primary-color-light);
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
  width: 150px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-family: 'Proza Libre', sans-serif;
}

.word-form__input:focus {
  border: 2px solid var(--primary-color-dark);
}

.word-form__validation {
  margin: 0;
  margin-left: 50px;
  height: 10px;
  width: inherit;
  padding: 0px;
  font-size: 0.8em;
  padding: 2px;
  color: red;
}

.word-form__input--warning {
  border: 2px solid red;
}

.word-form__input--small {
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .word-form__input {
    width: 200px;
  }

  .word-form__input--small {
    width: 70px;
  }
}
