.terms {
  height: 80px;
  background-color: var(--secondary-color-light);
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.terms p {
  margin: 0;
}
