/* 
This file contains styles for main display and styles that are used in multiple components.
*/

/* 
========================
====== BEM Styles ======
========================
*/

.header,
.footer {
  text-align: center;
  background-color: var(--primary-color-dark);
  padding: 10px;
  font-family: 'Cormorant Garamond', serif;
  min-width: 100%;
}

.header {
  height: 90px;
}

.header__title {
  font-size: 30px;
  text-align: center;
  height: 70px;
  line-height: 70px;
}

.footer {
  height: 70px;
  bottom: 0;
}

.main-container {
  padding-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 80px - 80px);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container--column {
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__textarea {
  height: 40vh;
  width: 350px;
  border: 2px solid var(--primary-color-light);
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-family: 'Proza Libre', sans-serif;
}

.form__textarea:focus {
  border: 2px solid var(--primary-color-dark);
}

#word-cloud {
  margin: 30px 0;
}

.list-img {
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.list-img.active {
  opacity: 1;
  visibility: visible;
}

.button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 5px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  opacity: 1;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.button:active,
.button:focus {
  border: none;
}

.button--outline {
  background-color: transparent;
}

.button--outline:hover {
  background-color: var(--secondary-color-dark);
}

.button--secondary {
  background-color: var(--secondary-color-dark);
}

.button--icon {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.notification {
  display: block;
  height: 40px;
  width: 350px;
  padding: 2px;
  margin: 5px;
  color: red;
}

.notification--small {
  height: 10px;
  width: inherit;
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
}
