name: Build and Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    environment: Production
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install
        run: npm ci

      - name: Lint and type check
        run: npm run check

      - name: Test
        run: npm run test

      - name: Build
        env:
          VITE_SESSION_WEBSOCKET_URL: ${{ vars.SESSION_WEBSOCKET_URL}}
          VITE_SESSION_API_URL: ${{ vars.SESSION_API_URL }}
        run: npm run build
